@import "../variables.scss";

.movie-details {
  &__title {
    font-size: 40px;
  }

  &__score {
    font-size: 20px;
    border-color: $white;
  }

  &__genres {
    font-size: 14px;
  }

  &__year {
    font-size: 24px;
  }

  &__duration {
    font-size: 24px;
  }

  &__description {
    font-size: 20px;
  }
}
