@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "opacity": (
      property: opacity,
      class: o,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        60: 0.6,
        70: 0.7,
        75: 0.75,
        100: 1,
      ),
    ),
    "color": (
      property: color,
      values: (
        red: $red,
        white: $white,
        black: $black,
        gray-1: $gray-1,
        gray-2: $gray-2,
      ),
    ),
    "background-color": (
      property: background-color,
      class: bg-color,
      values: (
        red: $red,
        white: $white,
        black: $black,
        gray-1: $gray-1,
        gray-2: $gray-2,
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

.montserrat-font {
  * {
    font-family: "Montserrat", sans-serif;
  }
}

.w-content {
  width: fit-content !important;
}
